@model QuanLyHSBA.Models.MedicalRecord

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Symptom" class="control-label"></label>
                <input asp-for="Symptom" class="form-control" />
                <span asp-validation-for="Symptom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeDate" class="control-label"></label>
                <input asp-for="DischargeDate" class="form-control" />
                <span asp-validation-for="DischargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorNote" class="control-label"></label>
                <input asp-for="DoctorNote" class="form-control" />
                <span asp-validation-for="DoctorNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
