@page
@model LogoutModel
@{
    ViewData["Title"] = "Bạn có muốn đăng xuất?";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <center>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-outline-dark">Click here to Logout</button>
            </form>
            </center>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
